// =============================================================================
// Header
// =============================================================================

.header {
  background-color: #f7f8f9;
  display: block;
  padding: 2rem 0;
}

.header-logo {
  font-size: 1.4rem;
  font-weight: 700;
  color: $header-logo-color;
  text-decoration: none;
  line-height: 1;
}

.header-links {
  padding: 1rem 0 1rem 3rem;
  display: flex;
  flex-direction: column;
  list-style: none;

  li {
    display: flex;
    margin-bottom: 1rem;

    &::before {
      content: '';
      display: block;
      height: 0.375rem;
      width: 0.375rem;
      background-color: $header-link-color;
      flex: 0 0 0.375rem;
      border-radius: 50%;
      margin-top: .625rem;
    }

    a {
      padding-left: .5rem;
      font-size: 0.875rem;
      font-weight: 700;
      display: block;
      color: $header-link-color;
      cursor: pointer;
      position: relative;
      transition: color .2s;
      text-decoration: none;

      svg {
        width: 16px;
        height: 16px;
        fill: $header-link-color;
      }

      &:hover {
        color: $header-link-color-hover;
        svg {
          fill: $header-link-color-hover;
        }
      }
    }

    &.active {
      &::before {
        background-color: $header-link-color-hover;
      }
      a {
        color: $header-link-color-hover;
      }
    }


  }
}

.header-tags {
  padding: 0;
  margin: 30px 0 0;
  list-style: none;
  li {
    display: inline-block;
    padding-right: 10px;
    a {
      display: inline-block;
      color: $header-link-color;
      text-decoration: none;
      &:hover { color: $header-link-color-hover; }
    }
  }
}

@include breakpoint(extra-small) {
  .header-nav {
    text-align: center;
  }
  .header-links {
    display: block;
    float: none;
    text-align: center;
    li {
      margin: 0 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .header-tags {
    margin: 20px 0 0;
    text-align: center;

    li {
      padding: 0 5px;
    }
  }
}
