<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="grid grid-centered grid-reverse-mobile">
        <div class="grid-cell col-md-9 col-sm-12">
          {{ content }}
        </div>
        <aside class="grid-cell col-md-3 col-sm-12">
          {%- include aside.html -%}
        </aside>
      </div>
    </main>
  </body>

</html>